.message {
    width: 500px;
    display: grid;
    border: 1px solid black;
    padding: 3px;
    border-radius: 3px;
    grid-template-columns: 70px 1fr 40px;
    grid-template-rows: 1fr 30px;
    margin-bottom: 10px;
}

.text {
    display: grid;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

.avatar {
    width: 70px;
    height: 70px;
}

.like {
    font-size: 22px;
    display: grid;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.likeActive {
    font-size: 22px;
    display: grid;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: blue;
}

.createdAt {
    display: grid;
    justify-content: end;
    grid-column-start: 1;
    grid-column-end: 3;
}