.header {
    border: 2px solid black;
    padding: 10px 5px;
    border-radius: 5px;
}

.name {
    font-size: 30px;
    color:red;
}

.participants {
    font-size: 20px;
    padding-left: 30px;
}

.time {
    float: right;
    padding: 10px 30px 0px 0px;
    font-size: 20px;

}