.messagesInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding-left: 10px;
    font-size: 20px;
    height: 50px;
    width: 800px;
}

.input::placeholder {
    padding-left: 10px;
    font-size: 16px;
    height: 50px;
    width: 800px;
}

.btn  {
    cursor: pointer;
    height: 40px;
    width: 90px;
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
}